* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
  /* background-color: #e2e2e2; */
  padding: 10px;
  overflow-y: scroll;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #c0c0c0;
}
.user-input-box {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}

.box-title {
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
}

input {
  height: 60px;
  width: 100%;
  appearance: none;
  border: solid 1px #c0c0c0;
  border-radius: 5px;
  padding: 0 10px;
  outline: none;
}
input[type=submit] {
  background-color: royalblue;
  color: #fff;
  border: none;
}
input[type=submit]:focus {
  border: none;
}

input[type=submit]:active {
  background-color: #3255bd;
}

input:focus {
  border: solid 2px royalblue;
}

input:focus::placeholder {
  opacity: 0;
}
