* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 24px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e2e2e2;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  border-radius: 50px;  
  background-color: #fff;
}
form {
  width: 100%;
  padding: 0 20px;
}

input {
  height: 50px;
  width: 100%;
  appearance: none;
  border: solid 1px black;
  border-radius: 10px;
  padding: 0 10px;
  outline: none;
  margin-bottom: 30px;
}
input[type=submit] {
  background-color: royalblue;
  color: #fff;
  border: none;
}
input[type=submit]:focus {
  border: none;
}

input[type=submit]:active {
  background-color: #3255bd;
}

input:focus {
  border: solid 2px royalblue;
}

input:focus::placeholder {
  opacity: 0;
}
